<section id="destaque">
    <div class="container py-3">
        <h1 class="mat-display-3 mb-2">Quem somos</h1>
        <h2 class="mat-subheading-2 lead">Apaixonados pelo mundo da enologia</h2>
    </div> 
</section>
<main id="quem-somos">
    <div class="container py-5">
        <div class="row">
            <div class="col-8">
                <p class="mat-body">Abaixo aos “taninos fermentados”: poderia ser este o subtítulo do nosso site. O mundo do vinho é maravilhoso, mas cheio de termos incompreensíveis (e , também, frequentemente estranhos): a partir do desejo de explicar a todos aos apaixonados pelo mundo da enologia, surgiu a ideia do “ in the bottles”. Tudo começou com o encontro de um advogado e uma jornalista em um curso de formação para sommelier: os dois companheiros de classe descobrem serem os únicos participantes a trabalhar fora do setor do vinho e percebem que, justamente por este motivo, tanto os professores quanto os alunos dão como certo uma série de conceitos que para os dois novatos são incompreensíveis.</p>
                <p class="mat-body">Contando as suas experiências aos amigos (apreciadores e não apreciadores de vinho) entendem, portanto, que este senso de estranhamento é muito comum. Em resumo, tendo em vista a gravidade da situação, a jornalista e o advogado decidiram suprir esta carência explicando com palavras simples os principais conceitos que dizem respeito à criação de Bacco. Na verdade, o que escrevemos, o fazemos antes de tudo para explicar a nós mesmos e assim, também, esclarecer aos outros.</p>
                <p class="mat-body">Naturalmente, não pretendemos escrever uma enciclopédia fictícia de vinificação e enologia: no site estão presentes notícias de atualidades, entrevistas com produtores, reportagens dos principais eventos enológicos. Confessamos um segredo: estamos nos divertindo muitíssimo. Divirtam-se vocês também e se por acaso não conseguirem (conselho banal, mas sempre válido): abram uma garrafa!</p>
            </div>
            <div class="col-4">
                <img src="../../assets/vinho-italia.jpg" alt="Vinho na Itália" class="img-fluid">
            </div>
        </div>
    </div>
</main>
<!-- <div class="container"><hr></div> -->