<nav>
  <mat-toolbar>
    <mat-toolbar-row class="container">
      <a id="logo" routerLink="/">
        <img src="assets/logo.svg" alt="In The Bottles" width="auto" height="36" class="mr-2" />
      </a>
      <h2 class="mat-title mb-0">In The Bottles</h2>
      <span class="spacer"></span>
      <a mat-button href="#quemsomos">Quem Somos</a>
      <a mat-button href="#mundodovinho">Mundo do Vinho</a>
      <a mat-button href="#novidades">Novidades</a>
      <a mat-button href="#contato">Contato</a>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<section class="destaque py-5">
 <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 class="mat-display-1 mb-1">Mundo do Vinho</h1>
        <h3 class="mat-subheading-2 mb-4">Para degustar um vinho com consciência é necessário conhecer os principais vinhedos e os vinhos deles obtidos</h3>
        <div>
          <button mat-raised-button color="primary">Conheça o Mundo do Vinho</button>
          <button mat-button class="ml-3">Novidades</button>
        </div>
      </div>
    </div>
 </div> 
</section>