.mat-title {
  font-weight: bold;
}
.spacer {
  flex: 1 1 auto;
}
nav {
    position: relative;
    a:hover{
        color: #e2d9de;
    }
}
footer {
    background-color: black;
    color: whitesmoke;
    p.small {
      line-height: 12px;
      text-align: justify;
    }
    a {
      color: #f3f07a;
    }
  }
  