<section id="destaque">
    <div>
        <div class="container">
            <div class="row align-items-center py-sm-0">
                <div class="col-sm-6 py-5">
                    <h1 class="mat-display-3 mb-2">Mundo do Vinho</h1>
                    <h2 class="mat-subheading-2 lead mb-4">Para degustar um vinho com consciência é necessário conhecer os principais vinhedos e os vinhos deles obtidos</h2>
                    <div>
                        <a href="#mundo-do-vinho" button mat-raised-button color="primary">Conheça o Mundo do Vinho</a>
                        <a href="#news" button mat-flat-button class="ms-3" >News</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main id="mundo-do-vinho">
    <div class="container py-5">
    <h1 class="mat-display-2 mb-2 text-center">Mundo do vinho</h1>
    <h4 class="mat-subheading-1 lead mb-3 text-center">Para degustar um vinho com consciência é necessário conhecer os principais vinhedos e os vinhos deles obtidos. Aqui está uma análise que se tornará cada vez mais abrangente, mesmo que jamais possa ser completa, porque somente na Itália estima-se que haja pelo menos 300 videiras (mas, talvez sejam o dobro) e por haver ao redor do mundo vinhos que valem a pena serem mencionados. Além disso, em ordem alfabética e explicados em palavras simples, os termos relativos à enologia e viticultura.</h4>
    <div class="card-group">
        <a href="#" class="card">
        <div class="row g-0">
            <div class="col-4 bg-image" style="background-image: url('../../assets/icons8-glossary-64.png');"></div>
            <div class="col-8">
            <div class="card-body">
                <h5 class="mat-headline">Glossário</h5>
                <p class="mat-body-1">Alguns termos relacionados ao vinho são conhecidos, outros pouco notórios ou recém-criados, outros, ainda, podem dar origem a diferentes interpretações. Neste pequeno dicionário enológico, você encontrará uma resposta para todas as suas dúvidas.</p>
            </div>
            </div>
        </div>
        </a>
        <a href="#" class="card">
        <div class="row g-0">
            <div class="col-4 bg-image" style="background-image: url('../../assets/icons8-grape-64.png');"></div>
            <div class="col-8">
            <div class="card-body">
                <h5>Vinhedos</h5>
                <p class="mat-body-1">As principais características dos vinhedos nativos italianos e internacionais cultivados em todo o mundo. Com a descrição das uvas e muitas curiosidades históricas e geográficas.</p>
            </div>
            </div>
        </div>
        </a>
        <a href="#" class="card">
        <div class="row g-0">
            <div class="col-4 bg-image" style="background-image: url('../../assets/icons8-wine-64.png');"></div>
            <div class="col-8">
            <div class="card-body">
                <h5>Vinhos</h5>
                <p class="mat-body-1">A vinificação, a composição e a história dos vinhos italianos e estrangeiros, que devem ser degustados ao menos uma vez. Mas, especialmente, muitas sugestões de harmonização com a comida. </p>
            </div>
            </div>
        </div>
        </a>
    </div>
    </div>
</main>
<section id="news">
    <div class="container py-5">
        <h1 class="mat-display-2 mb-2 text-center">News</h1>
        <h4 class="mat-subheading-1 lead mb-3 text-center">O mundo do vinho está em constante fermentação (há também um famoso evento que se chama assim) e há sempre muitas iniciativas, em todas as regiões da Itália. Nesta secção encontrará notícias sobre os principais eventos do sector, a não perder para um público de entusiastas, bem como novidades sobre enologia, viticultura e tudo o que gira em torno deste maravilhoso universo.</h4>
        <div style="max-width: 768px; margin: 0 auto;">
            <a href="#" class="card mat-elevation-z6 mb-3">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://inthebottles.com/wp-content/uploads/2020/12/cuvage_campione_del_mondo-002.jpeg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">BOLHAS E NÃO SÓ PARA A MESA DE FÉRIAS</h5>
                        <p class="mat-body-1 card-text">Tendo chegado ao final deste ano tão especial, só temos que brindar à esperança de um futuro melhor.</p>
                        <p class="card-text"><small class="text-muted">Dezembro 2020</small></p>
                    </div>
                </div>
                </div>
            </a>
            <a href="#" class="card mat-elevation-z6 mb-3">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://inthebottles.com/wp-content/uploads/elementor/thumbs/Merano-Wine-Festival-oyu8q1b6k554ufjypr4it66ttahc3cpnc0ticvaq0k.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">MERANO WINE FESTIVAL NA VERSÃO DIGITAL</h5>
                        <p class="mat-body-1 card-text">O tão esperado encontro de novembro com o Festival do Vinho de Meranotambém ocorreu neste ano específico de 2020.</p>
                        <p class="card-text"><small class="text-muted">Novembro 2020</small></p>
                    </div>
                </div>
                </div>
            </a>
            <a href="#" class="card mat-elevation-z6 mb-3">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://inthebottles.com/wp-content/uploads/2020/10/MWW2020.png" class="card-img-top" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">A SEMANA DO VINHO DE MILÃO ESTÁ DE 3 A 11 DE OUTUBRO</h5>
                        <p class="mat-body-1 card-text">Presença e à distância a tão esperada Milan Wine Week regressa: já na sua terceira edição, o evento dedicado ao mundo do vinho mantém a sua sede no Palazzo Bovara no corso Venezia</p>
                        <p class="card-text"><small class="text-muted">Outubro 2020</small></p>
                    </div>
                </div>
                </div>
            </a>
        </div>
    </div>
</section>