section#destaque > div {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.66) 0%, rgba(0,0,0,0.5) 100%);
}
section#destaque {
    background-image: url('../../assets/Bons-vinhos.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    h1, h2.mat-subheading-2 {
        color: whitesmoke
    }
    h2.mat-subheading-2 {
        font-family: 'Open Sans';
    }
}
main#mundo-do-vinho {
    background-color: whitesmoke;
    h1 {
        color: #9f1b41;
    }
    h4.mat-subheading-1 {
        font-family: 'Open Sans';
    }
    a.card {
        color: #333;
        text-decoration: none;
        .row {
            height: 100%;
        }
        .bg-image {
            background-size: cover;
            background-position: center center;
        }
        .card-body {
            h5 {
                font: 400 24px/32px "Oswald", sans-serif;
            }
            p.mat-body-1 {
                font: 400 14px/20px "Open Sans", sans-serif;
            }
        }
    }
    a.card:hover {
        color: black;
        h5 {
            text-decoration: underline;
        }
    }
}
section#news {
    h1 {
        color: #9f1b41;
    }
    h4.mat-subheading-1 {
        font-family: 'Open Sans';
    }
    a.card {
        color: #333;
        text-decoration: none;
        .row {
            height: 100%;
        }
        .bg-image {
            background-size: cover;
            background-position: center center;
        }
        .card-body {
            h5 {
                font: 400 24px/32px "Oswald", sans-serif;
            }
            p.mat-body-1 {
                font: 400 14px/20px "Open Sans", sans-serif;
            }
        }
    }
    a.card:hover {
        color: black;
        h5 {
            text-decoration: underline;
        }
    }
}
